@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@1&family=Yanone+Kaffeesatz&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Yanone Kaffeesatz, Helvetica, sans-serif;
    color: #515d5f;
}

h2 {
    color: #628131;
    margin-bottom: 20px;
    font-family: Barlow Semi Condensed, Helvetica, sans-serif;
}



/*header and logo*/

header {
    height: 150px;
    background-color: bisque;
    
}

#logo {
    letter-spacing: 2.5px;
    font-size: 36.5px;
    float: left;
    color: #f19f55;
    padding-top: 30px;
    margin-left: 30px;
}

 #logo p {
    font-family: Barlow Semi Condensed, Helvetica, sans-serif;
    color: #628131;
    font-size: 0.8rem;
    margin-left: 7.4em;/* this keeps on moving depending on the browser */
    margin-top: -35px;
}


/*navigation links*/

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    color: #628131;
    padding-top: 30px;
    margin-right: 20px;
}

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 10.5px
}

#menu a {
    text-decoration: none;
    color: inherit;

}    

#menu a:hover {
    border-bottom: 2px solid #f19f55;
}

.active {
    border-bottom: 2px solid #f19f55;

}

/* hero image */

#hero-image {
    height: 600px;
    width: 95%;
    object-fit: cover;
    border-color:#f19f55;
    border-style: solid;
    margin: 30px;
}

/*main content*/

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
    /*text*/
    text-align: center;
    font-size: 120%;
}

.center p {
    text-align:center;
    font-size: 120%;
    padding: 20px;

}


/* grape escape ethos - About us */

#about-us {
    height: 750px;
}

#about-us h1 {
    color: #f19f55;
    font-size: 50px;
    font-family: Barlow Semi Condensed, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
}


#left-about {
    padding-top: 20px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 20px;
    width: 33%;
    float: right; 
}

#center-about {
    padding-top: 20px;
    width: 33%;
    margin: 0 auto;   
}

/* About us images */

.container {
    width: 350px;
    height: 350px;
    border-style: solid;
    border-color: #f19f55;
    border-width: 2px; 
    margin: 0 auto;
    object-fit: cover;
    border-radius: 5%;
}


/*gallery page*/


.center span {
    font-size: 50px;
    
}


/*footer*/

footer {
    height: 150px;
    margin-top: 30px;
    background-color: bisque;
}

.justify {
    justify-content: center;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin-top: 70px;
    padding: 0 5%;
    color: #628131;
}

.social-networks i:hover {
    color:#f19f55;
}


/*get started*/
  

.form-section {
    clear: left;
    height: 800px;
    background-image: url(../images/get-started-hero.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 30px;
}

.get-started-form {
    margin: 100px 10% 0 0;
    background-color: rgba(255, 228, 196, 0.677);
    max-width: 400px;
    float: right;
    left: 10%;
    padding: 30px;
    text-align: left;
}

.get-started-form h2 {
    color: #628131;
    font-size: 50px;
    text-align: center;
}

.get-started-form div {
    color: #628131;
    font-size: 130%;
    padding: 5px;    
}

.get-started-form label {
    font-size: 30px;
}


/*contact us */

.contact-us {
    background-color: rgba(255, 228, 196, 0.677);
    max-width: 500px;
    float: left;
    left: 10%;
    margin: 100px 130px;
    padding: 30px;
    
}

.contact-us p {
    font-size: 30px;
}

.contact-us h2 {
    font-size: 50px;
}

input {
    width: 55%;
    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #f19f55;
    cursor: pointer;
    font-size: 20px;
  
}

input[type=submit] {
    background-color: white;
    border: 2px solid #628131;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #f19f55;
    
}

#message {
    float: right;
    margin-left: 17px;
}
