@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@1&family=Yanone+Kaffeesatz&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Yanone Kaffeesatz, Helvetica, sans-serif;
    font-size: 300;
    color: #515d5f;
}

/* headings and logo */

h1, h2 {
    font-family: Barlow Semi Condensed, Helvetiva, sans-serif;
    letter-spacing: 2px;
    color: #515d5f;
}

#logo {
    letter-spacing: 2.5px;
    font-size: 230%;
    float: left;
    color: #4a9f10;
}

/*navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 10.5px
}

#menu a {
    text-decoration: none;
    color: inherit;

}    

#menu a:hover {
    border-bottom: 1px solid #4a9f10;
}

.active {
    border-bottom: 1px solid #4a9f10;

}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
}